---

---
// not an error (ignore alert)
$activehighlight: #3f3f3f;
$cardcolour: #282828;
$texthighlight: #b3b3b3;
$borderhighlight: #585858;

body {
    background-color: #121212;
    margin: 0px;
}

#body {
    perspective: 10px;
    perspective-origin: 50% 0%;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden
}

#top {
    position: relative;
    left: -8px;
    transform-style: preserve-3d;
    z-index: -1;
}

#banner {
    width: 100%;
    height: auto;
    position: absolute;
    z-index: -1;
    transform: translateZ(-10px) translateY(calc(50%)) scale(2)
}

#placeholder { /* oh no here it comes */
    aspect-ratio: 1772 / 316;
    width: 100%;
    display: block;
}

// Navbar
#menu {
    grid-area: menu;
    border-style: solid none solid none;
    border-color: $borderhighlight;
    background-color: #1e1e1e;
    padding: 0px 0px 0px 10px;
    border-width: 6px;
    margin: 0px 0px 10px 0px;
    position: sticky;
    top: -5.7px;
    box-shadow: 0px 3px 6px -2px black;
    z-index: 1;

    h1 {
    margin: 0px;
    display: inline;
        &:hover {
        color: $texthighlight;
        }
    }

    a {
    text-decoration: none;
    white-space: nowrap
    }

}

#navbar {
    display: inline-flex;
    float: right;
    height: 100%;
    width: calc(100% - 180px);
    align-items: center;
    justify-content: space-evenly;
    column-gap: 0px
}

#navbar a:not(.dropdownbody a),
.dropdown {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 8px 0px 8px;
    flex-shrink: 1;
    flex-grow: 1;
    &.pc {
        display: none;
        @media (min-width: 29em) {
            display: flex;
        }
    };
    &.tablet {
        display: none;
        @media (min-width: 35em) {
            display: flex;
        }
    }
}

#navbar a:hover,
#navbar .active,
.dropdown:hover a {
    background-color: $activehighlight
}

.dropdown {
    padding: 0;
    display: block;
    position: relative;

    &:hover .dropdownbody {
    display: block
    }

    span.pc {
        display: none;
    }
    span.mobile {
        display: inline;
    }
    @media (min-width: 29em) {
        span.pc {
        display: inline;
        }
        span.mobile {
        display: none;
        }
    }
}

.dropdownbody {
    padding: 4px;
    position: absolute;
    background-color: $activehighlight;
    display: none;
    max-width: 85%;
    min-width: 80%;
    box-shadow: 0px 3px 7px -2px black;

    a {
    display: block;
    padding: 3px;
    overflow: hidden;
    text-overflow: ellipsis;

    &:hover {
    color: $texthighlight
    }
    }

    .mobile, .tablet {
    display: block;
    }
    @media (min-width: 29em){
        .mobile {
            display: none;
        }
        @media (min-width: 35em){
        .tablet {
            display: none;
        }
        }
    }

}

// Main Page content
#grid {
    display: grid;
    min-height: 78vh;
    margin: 0px;
    z-index: 0;
    background-color: #121212;
    grid-template:
        "menu" minmax(auto, 60px)
        "sidebar"
        "content"
        "footer";

@media(min-width: 35em) {
        grid-template:
            "menu menu" minmax(auto, 60px) 
            "sidebar content" minmax(200px, auto) 
            "footer footer" minmax(auto, 50px) 
            / minmax(150px, 2fr) 9fr;
        margin: 0px
}
}

@mixin cardtheme {
    background-color: $cardcolour;
    border-radius: 3px;
    box-shadow: -3px 3px 5px black;
}

#sidebar {
    grid-area: sidebar
}

#sidebar a,
#sidebar b {
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: none
}

#pages a, #pages i,
#pages b {
    text-align: left;
    padding: 0px 0px 0px 10px;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    overflow: hidden
}

#sidebar a:hover,
#sidebar .active,
#links:hover {
    background-color: $activehighlight
}

#sections,
#pages, 
#countdown, 
#search,
#links { // children of sidebar
    @include cardtheme;
    margin: 10px;
    padding: 4px 0px 4px 0px
}

#pagelinks {
    max-height: 115px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: $borderhighlight $cardcolour;
    overflow-x: hidden;
    padding: 0
}

#content {
    @include cardtheme;
    grid-area: content;
    padding: 5px 15px;
    margin: 10px;
}

#footer {
    @include cardtheme;
    grid-area: footer;
    padding: 5px 10px 0px 10px;
    margin: 10px;

    &>* {
    margin: 0
    }
}